# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# Channel IDs
CHANNEL_KADRY=
CHANNEL_KARY=
CHANNEL_EGZAMINY=
CHANNEL_RAPORTY=
CHANNEL_ZGLOSZENIA=
CHANNEL_MDT=

# Discord Role IDs (for slash command permissions)
ROLE_CS=
ROLE_HCS=
DEV_DISCORD_ID=

# Supabase
SUPABASE_URL=https://jecootmlzlwxubvumxrk.supabase.co
SUPABASE_SERVICE_KEY=
